---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/subreddits/mine/subscriber
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <USER_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '597.0'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Reset:
      - '554'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=H%2BMa%2BW0xCxCDHMHW6L7T9uvZkSLIsL7oxJ1HWLacPw7lTrqOx39xhSpq0%2B7J62%2BogoO4WcMh00kql7HWEh6AdUl4zKfRpDr3
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t5", "data": {"user_is_contributor": false, "banner_img": "", "submit_text_html":
        null, "user_is_banned": false, "wiki_enabled": true, "show_media": false,
        "id": "2fwo", "description": "/r/programming is a reddit for discussion and
        news about [computer programming](http://en.wikipedia.org/wiki/Computer_programming)\n\n****\n**Guidelines**\n\n*
        Please keep submissions on topic and of high quality.\n* Just because it has
        a computer in it doesn''t make it programming. If there is no code in your
        link, it probably doesn''t belong here.\n* Direct links to app demos (unrelated
        to programming) will be removed.\n* No surveys.\n* Please follow p[...]
