---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer <USER_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '599.0'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '565'
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"is_employee": false, "features": {"do_not_track": true, "show_amp_link":
        true, "live_happening_now": true, "adserver_reporting": true, "give_hsts_grants":
        true, "legacy_search_pref": true, "listing_service_rampup": true, "mobile_web_targeting":
        true, "default_srs_holdout": {"owner": "relevance", "variant": "popular",
        "experiment_id": 171}, "adzerk_do_not_track": true, "users_listing": true,
        "show_user_sr_name": true, "whitelisted_pms": true, "sticky_comments": true,
        "upgrade_cookies": true, "ads_prefs": true, "block_user_by_report": true,
        "ads_auto_refund": true, "orangereds_as_emails": true, "mweb_xpromo_modal_listing_click_daily_dismissible_ios":
        true, "mweb_xpromo_ad_feed_android": {"owner": "channels", "variant": "ad_feed_small_feed_banner",
        "experiment_id": 195}, "expando_events": true, "eu_cookie_policy": true, "utm_comment_links":
        true, "force_https": true, "activity_service_write": true, "post_to_profile_beta":
        true, "reddituploads_redirect": true, "outbound_clicktracking": true, "new_loggedin_cache_policy":
        true, "inbox_push": true, "https_redirect": true, "search_dark_traffic": true,
        "mweb_xpromo_interstitial_comments_ios": true, "pause_ads": true, "programmatic_ads":
        true, "geopopular": true, "moat_tracking": true, "show_recommended_link":
        true, "mweb_xpromo_interstitial_comments_android": true, "ads_auction": true,
        "screenview_events": true, "new_report_dialog": true, "geopopular_ca": {"owner":
        "relevance", "variant": "geopopular", "experiment_id": 199}, "subreddit_rules":
        true, "mobile_settings": true, "adzerk_reporting_2": true, "mobile_native_banner":
        true, "ads_auto_extend": true, "interest_targeting": true, "post_embed": true,
        "scroll_events": true, "mweb_xpromo_modal_listing_click_daily_dismissible_android":
        true, "geopopular_gb": {"owner": "relevance", "variant": "control_2", "experiment_id":
        196}, "adblock_test": true, "activity_service_read": true}, "pref_no_profanity":
        true, "is_suspended": false, "subreddit": null, "is_sponsor": false, "gold_expiration":
        null, "id": "egvzrs", "suspension_expiration_utc": null, "verified": false,
        "over_18": false, "is_gold": false, "is_mod": false, "has_verified_email":
        true, "oauth_client_id": "<REDDIT_KEY>", "hide_from_robots": false, "link_karma":
        1, "inbox_count": 0, "pref_top_karma_subreddits": null, "pref_show_snoovatar":
        false, "name": "_iamchrissmith", "created": 1499315256.0, "gold_creddits":
        0, "created_utc": 1499286456.0, "in_beta": false, "comment_karma": 0, "has_subscribed":
        true}'
  recorded_at: Sun, 09 Jul 2017 19:40:35 GMT
recorded_with: VCR 3.0.3
